.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.content {
  display: flex;
  align-items: center;
}
.content p {
  font-size: clamp(1.2rem, 50%, 2rem);
}
