.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container p {
  text-align: center;
}
.icon {
  height: 6rem;
  width: 6rem;
}
