.container {
  background-color: var(--primary-color);
  padding: 1rem;
  border: none;
  border-radius: 1.1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: top ease 1s;
  flex-grow: 1;
  min-width: 8rem;
  --active-background: #f7fdff;
}
.container:hover {
  background-color: var(--active-background);
}
.container:hover {
  top: -0.1rem;
}
.active {
  background-color: var(--active-background);
}
.date {
  color: var(--primary-text);
  text-align: center;
}
.date p {
  font-size: clamp(1rem, 2vw, 1.1rem);
}
.date span {
  display: block;
  margin-top: 0.4rem;
  font-size: clamp(0.75rem, 2vw, 0.9rem);
  color: var(--secondary-text);
}
.icon {
  width: 100%;
  height: 60%;
}
.weather {
  color: var(--primary-text);
  display: flex;
  justify-content: center;
  gap: 0.3rem;
}
.weather span {
  font-size: clamp(0.9rem, 8vw, 1.2rem);
}
.weather span:last-of-type {
  color: var(--secondary-text);
}
