.header {
  background-color: var(--primary-color);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top > p {
  font-size: 1rem;
}
.units {
  display: flex;
  gap: 1rem;
}
.units > button {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: 0;
  font-weight: 900;
  font-size: 1.15rem;
  cursor: pointer;
}
.units > button:first-child {
  color: var(--primary-color);
  background-color: var(--primary-text);
}
.units img {
  height: 4rem;
  width: 4rem;
}
.icon {
  width: 100%;
  height: auto;
  align-self: center;
  /* filter: drop-shadow(0 0 2em rgba(251, 191, 93, 0.6)); */
}
