.header {
  height: 100dvh;
  background-color: var(--primary-color);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top > p {
  color: var(--primary-text);
  font-size: 1.4rem;
}
.top button {
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
}
.units {
  display: flex;
  gap: 1rem;
}
.units > button {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: 0;
  font-weight: 900;
  font-size: 1.15rem;
  cursor: pointer;
}
.units > button:first-child {
  color: var(--primary-color);
  background-color: var(--primary-text);
}
.units > button:last-child {
  background-color: var(--secondary-color);
}
.units img {
  height: 4rem;
  width: 4rem;
}
.settingsButton {
  display: none;
}
.topIcon {
  font-size: 1.8rem;
}
.icon {
  width: 100%;
  max-width: 20rem;
  height: auto;
  align-self: center;
}
.temperature {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 300;
  padding-bottom: 1rem;
  color: var(--primary-text);
}
.temperature > p {
  font-size: 7rem;
  display: flex;
}
.temperature > p > i {
  align-self: start;
  margin-top: 0.3rem;
  font-style: normal;
  font-size: 4.5rem;
}
.temperature .status {
  margin-top: 1rem;
  font-size: 1.2rem;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid var(--secondary-color);
}
.bottom {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem 1rem;
}
.bottomInfo {
  display: flex;
  gap: 0.6rem;
}
.bottomInfo svg {
  padding: 0.6rem;
  font-size: 3rem;
  background-color: var(--secondary-color);
  border-radius: 50%;
}
.bottomInfo div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bottomInfo span {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--secondary-text);
}
.bottomInfo p {
  font-size: 1.2rem;
  font-weight: 500;
}

@media only screen and (max-width: 1000px) {
  .header {
    justify-content: start;
  }
  .units {
    display: none;
  }
  .settingsButton {
    display: block;
  }
}
