.panel {
  flex: 1;
  min-height: 100vh;
  background-color: var(--secondary-color);
  padding: 1.5rem 1.5rem;
}
.top {
  display: flex;
  justify-content: space-between;
}
.textButton {
  border: none;
  background: none;
  height: fit-content;
  padding: 0;
  cursor: pointer;
}
.theme {
  display: flex;
  gap: 1rem;
}
.theme button {
  font-size: 1rem;
  color: var(--secondary-text);
}
.theme button:last-of-type {
  color: var(--primary-text);
}
.forecast {
  margin-top: 2rem;
}
.forecastButtons {
  display: flex;
  gap: 2rem;
}
.forecastButtons button {
  font-size: 1.2rem;
}
.forecastButtons button:first-of-type {
  color: var(--secondary-text);
}
.days {
  margin-top: 1.2rem;
  display: flex;
  justify-content: space-between;
  gap: 0.8rem;
}
.detail {
  margin-top: 3.5rem;
}
.detail h2 {
  font-size: 1.2rem;
}
.widgets {
  margin-top: 1.2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.widgets > div {
  padding: 1.1rem;
  background-color: var(--primary-color);
  border-radius: 1.1rem;
  height: 10rem;
}
.widgets > div h3 {
  font-size: 0.9rem;
  color: var(--secondary-text);
}
