.title {
  margin-top: 2rem;
}
.items {
  margin-top: 1rem;
  display: flex;
  gap: 0.8rem;
}
.item {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 0.6rem;
  padding: 0.5rem 0.9rem;
}
.item:hover {
  box-shadow: 0 0 4px var(--active-color);
}
.item svg {
  font-size: 1.2rem;
}
.activeItem {
  border: 1px solid var(--active-color);
  box-shadow: 0 0 4px var(--active-color);
}
