.widget {
  height: 12rem;
  padding: 1.1rem;
  background-color: var(--primary-color);
  border-radius: 1.1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.widget h3 {
  font-size: 0.9rem;
  color: var(--secondary-text);
}
.icon {
  width: 6rem;
  height: 6rem;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content p {
  text-align: center;
}
